<!doctype html>

<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS and JS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" integrity="sha512-u7ppO4TLg4v6EY8yQ6T6d66inT0daGyTodAi6ycbw9+/AU8KMLAF7Z7YGKPMRA96v7t+c7O1s6YCTGkok6p9ZA==" crossorigin="anonymous" />
   
    <title>{% block title_block %} Blogs {% endblock %}</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'index' %}"> <img src="/media/blog_images/blog-logo.png" width="25px"></a>
        </li>

        {% if user.is_authenticated %}
        <!-- <li class="nav-item">
          <a class="nav-link" href="{% url 'App_Login:logout' %}">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'App_Login:profile' %}">Your Profile</a>
        </li> -->
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              {{user.username}}
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'App_Login:profile' %}">Your Profile</a>
            <a class="dropdown-item" href="{% url 'App_Blog:my_blog' %}">My Blog</a>
            <a class="dropdown-item" href="{% url 'App_Blog:create_blog' %}">Write Blog</a>
            <hr>
            <a class="dropdown-item"  href="{% url 'App_Login:logout' %}">Logout</a>
          </div>
        </div>

        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'App_Login:signup' %}">Signup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'App_Login:login' %}">Login</a>
        </li>
        
        {% endif %}
      </ul>
    </nav>

    <div class="container" style="padding: 30px;">
      {% block body_block %} 
    
    
      {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
  </body>
</html>  